<form method="post" action="/create">
  <label for="new_file">Add a new document:</label>
  <div>
    <textarea name="new_file" id="new" rows="1" cols="20">New Document Name</textarea>
  </div>
  <button type="submit">Create</button>
</form>